.ckeditor-style-for-emailtemplate {
    position: relative;
    width: 100%;
    z-index: 0;
    // .ck-editor__editable .ck-table-bogus-paragraph,
    // .ck.ck-editor__editable_inline p {
    //   font-size: var(--commonFont-small) !important;
    // }
  
    .ck-rounded-corners
      .ck.ck-editor__top
      .ck-sticky-panel
      .ck-sticky-panel__content,
    .ck.ck-editor__top
      .ck-sticky-panel
      .ck-sticky-panel__content.ck-rounded-corners {
      border-top-right-radius: 6px !important;
      border-top-left-radius: 6px !important;
      // overflow: hidden;
      border: 1px solid var(--inputBorder);
    }
  
    .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
    .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
      border-bottom-left-radius: 6px !important;
      border-bottom-right-radius: 6px !important;
      overflow: auto;
      border: 1px solid var(--inputBorder);
      border-top: none;
    }
  
    .ck .ck-placeholder,
    .ck.ck-placeholder {
      position: relative;
      font-size: var(--commonFont-extraSmall) !important;
    }
    .ck-content {
      height: 340px !important;
    }
  
    .ck.ck-balloon-panel.ck-powered-by-balloon .ck.ck-powered-by {
      display: none !important;
    }
  
    .ck-editor-sec {
      position: relative;
  
      .validation-text {
        margin-top: -10px !important;
      }
    }
  
    .ck-content {
      .table {
        margin: 0 0;
      }
    }
  
    .ck .ck-insert-table-dropdown__grid {
      width: calc(
        var(--ck-insert-table-dropdown-box-width) * 10 +
          var(--ck-insert-table-dropdown-box-margin) * 10 +
          var(--ck-insert-table-dropdown-padding) * 1
      );
    }
  
    .ck-heading_heading1 .ck-button__label {
      font-size: 16px !important;
    }
    .ck-heading_heading2 .ck-button__label {
      font-size: 16px !important;
    }
    .ck-heading_heading3 .ck-button__label {
      font-size: 16px !important;
    }
    .ck-heading_heading4 .ck-button__label {
      font-size: 16px !important;
    }
  }
  