.ck-edotor-data-common-page-manage {
  color: #000;
  font-size: 16px;
  font-weight: 400 !important;

  a {
    color: #00f !important;
    text-decoration: underline !important;
  }

  .image {
    margin: 0.9em auto;
  }
  h1 {
    font-size: 32px;
    font-weight: 400;
  }
  h2 {
    font-size: 28.8px;
    font-weight: 400;
  }
  h3 {
    font-size: 25.6px;
    font-weight: 400;
  }
  h4 {
    font-size: 22.4px;
    font-weight: 400;
  }
  p {
    font-size: 16px;
    margin: 8px 0;
    font-weight: 400;
  }
  img {
    max-width: 100%;
  }

  .image-style-align-left {
    float: left !important;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .image-style-align-right {
    float: right !important;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .image-style-block-align-left {
    margin-left: 0 !important;
    margin-right: auto !important;
    clear: both;
  }
  .image-style-block-align-right {
    margin-right: 0 !important;
    margin-left: auto !important;
    clear: both;
  }

  /* -------------------------- */
  @media (max-width: 768px) {
    .table table {
      -webkit-overflow-scrolling: touch;
      display: block !important;
      width: -moz-max-content !important;
      width: max-content !important;
      max-width: 1200px !important;
    }

    .table table tbody td {
      width: max-content !important;
    }
    .table thead,
    .table tbody,
    .table tr {
      width: 100%;
      table-layout: auto;
    }
  }
  .table + * {
    clear: both;
  }
  blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: solid 5px hsl(0, 0%, 80%);
  }
  .table {
    @media (max-width: 1200px) {
      width: unset !important;
    }
    margin: 0.9em auto;
    margin-left: auto !important;
    margin-right: auto !important;
    img {
      max-width: unset;
      width: 100%;
    }
    table {
      border-collapse: collapse;
      table-layout: auto;
      width: 100%;
      max-width: revert;
      margin-bottom: 0;
    }
    thead {
      tr {
        th {
          padding: 6.4px !important;
          background: hsla(0, 0%, 0%, 5%);
          border-width: 1px !important;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 6.4px !important;
          border-width: 1px !important;
        }
      }
    }

    img {
      max-width: 250px;
      max-height: fit-content !important;
    }
  }
  img {
    max-height: fit-content !important;
    max-width: 100% !important;
  }
}
