.pagemanagment-wrapper {
  color: #000;
  font-size: 16px;
  font-weight: 400 !important;

  // ---------------  Default Styles ----------------//

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 29px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
  }

  .media {
    overflow: visible !important;
  }

  p {
    font-size: 16px;
    margin: 8px 0;
    font-weight: 400;

    img {
      display: unset;
    }
  }

  ol,
  ul,
  menu {
    margin-left: 16px;
  }
  ul {
    padding: 0 0 0 20px;
    li {
      font-size: 16px !important;

      span {
        font-size: 16px !important;
      }
    }
  }
  ol {
    padding: 0 0 0 20px;
    li {
      font-size: 16px !important;

      span {
        font-size: 16px !important;
      }
    }
  }
  a {
    color: #0000ff;
    text-decoration: underline;
    word-break: break-word;
    span {
      font-size: 16px !important;
    }
  }
  // --------------- Default Styles End ----------------//

  .image {
    margin: 0.9em auto;
    max-width: 100%;
  }

  img {
    max-width: 100%;
    display: unset;
  }

  .image-style-align-left {
    float: left !important;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .image-style-align-right {
    float: right !important;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .image-style-block-align-left {
    margin-left: 0 !important;
    margin-right: auto !important;
    clear: both;
  }
  .image-style-block-align-right {
    margin-right: 0 !important;
    margin-left: auto !important;
    clear: both;
  }

  caption {
    font-size: 20px;
    color: #292e8f;
    text-align: center;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* -------------------------- */

  .table + * {
    clear: both;
  }

  blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin: 0;
    font-style: italic;
    border-left: solid 5px hsl(0, 0%, 80%);
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    padding: 0.5em 10px;

    p {
      display: inline;
      font-style: italic;
      color: #212529;
    }
  }

  .table {
    @media (max-width: 1200px) {
      width: unset !important;
    }
    overflow: auto;
    margin: 0.9em auto;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100%;
    img {
      max-width: unset;
      width: 100%;
    }
    table {
      border-collapse: collapse;
      table-layout: auto;
      width: 100%;
      max-width: revert;
      margin-bottom: 0;
      border: 1px solid #212529;
      margin-bottom: 10px;
    }
    thead {
      tr {
        th {
          padding: 6.4px !important;
          background: hsla(0, 0%, 0%, 5%);
          border-width: 1px !important;
          border: 1px solid #212529;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 6.4px !important;
          border-width: 1px !important;
          border: 1px solid #212529;
          padding: 5px 10px;
        }
      }
    }

    img {
      max-width: 250px;
      max-height: fit-content !important;
    }
  }
  img {
    max-height: fit-content !important;
    max-width: 100% !important;
  }
  iframe {
    width: 100%;
    height: 70vh;
    /* margin-top: 30px; */
    /* padding-top: 30px; */
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .btn-red {
  }
  .btn-red-underline {
    background: #f93549;
    width: auto;
    height: 50px;
    transition: 0.5s;
    padding: 0 20px;
    text-decoration: underline;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .yellow-btn {
    background: #ff9e18;
    height: 45px;
    transition: 0.5s;
    padding: 0 20px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .table {
    display: block !important;
    table {
      -webkit-overflow-scrolling: touch;
      display: block !important;
      width: -moz-max-content !important;
      width: max-content !important;
      max-width: 1200px !important;
    }
  }

  .table table tbody td {
    width: max-content !important;
  }
  .table thead,
  .table tbody,
  .table tr {
    width: 100%;
    table-layout: auto;
  }
}

.table + * {
  clear: both;
}
