* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  min-width: 100px;
  padding: 8px;
  margin-right: 10px;
  background-color: #3498db;
  border: 2px solid #09598f;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 15px;

  &:hover{
   background-color: #09598f;
   transition: all 0.5s; 
  }
}
